/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2015, 3:46:50 PM
    Author     : michael
*/
.game_text
{
    -fx-text-fill: rgb(210,210,90);
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;  
}


